swagger: "2.0"
info:
  version: 1.0.0
  title: Fusion360 Production
  description: |
    This is version 1 of Forge Production API's. The API serves the following goals

    1. To provide Production related APIs for Forge platform.


    # Standards
    1. This API follows the `JSON API` specs 1.0 documented at [JSON API Spec](http://jsonapi.org/format/)
    2. Entity names are always plural e.g. `Hubs`, `Projects`, `Folders`
    3. Element names are camelCase e.g. `rootFolder`

    # Http Verbs

    |Verb         | Description
    | ------      | -------------------------------------------------------------------------------------------------------
    | `GET`       |  Used to select one or more items. Success returns `200` status code with json result item(s) in body.
    | `POST`      |  Used to create a new item. Success returns `201` status code with newly created json item in body.
    | `PATCH`     |  Used to update an item. Success returns `200` status code with updated json item in body.
    | `DELETE`    |  Used to hard delete an item. Success returns `204` status code with no body.

    # Status Codes
    We'll respond with one of the following status codes.
    
    |Code         | Description
    | ------      |---------
    |`200`        | Success
    |`201`        | Success - new resource created.
    |`204`        | Success - no content to return.
    |`302`        | Redirect  to another resource
    |`400`        | Bad Request - i.e. your request couldn't be parsed.
    |`401`        | Unauthorized - user is not logged in, cannot access resource.
    |`403`        | Forbidden - Request is not allowed for this member's role, please login using a valid role.
    |`404`        | Not Found - resource doesn't exist.
    |`500`        | Server error. There is nothing the app or user can do to recover from this. Correct response is to contact factory backend team for 500 errors.
    
    # Errors
      Any 4xx and 5xx response is an error. In addition to the http code we will return additional information in the response payload as follows.
      
          {
             "errors":[
                {
                   "id":"unique code which links back to stack trace in logs",
                   "code":"numeric code specific to this api as defined in docs",
                   "detail":"human readable error message",
                   "meta":{
                      "error":"any additional data the api may want to send back"
                   }
                }
             ]
          }
      
    * Production URL: https://developer.api.autodesk.com
    * Beta URL: https://developer-stg.api.autodesk.com

    #Required Headers
    Include the following header for all requests:

    **X-DMG-FP-TENANT**: Unique identifier assigned to your application. It is very important to use the X-DMG-FP-TENANT assigned to your application and not re-use X-DMG-FP-TENANT's across tenants as this creates issues in debugging and analytics. `Note:` This header is used only for Factory-Production APIs requests.

    **Content-Type**: application/vnd.api+json

    #Factory Production Entities
    * Job Instructions: This is a template for all tasks that needs to be executed for making a given component.

    * Task Instruction: This is a single unit of task to be executed as a component of job instruction. It has information such as a unique number assigned to the task, operation to be executed, components to be consumed, workstation to be used and estimated time required to complete this component.

    * Job Sheet: An instance of Job Instructions template which goes on Factory floor as instructions are executed in the process of making a component. Job sheet refers to the instruction template and contains any relevant notes added during execution of instructions.

    * Task Execution: Contains relevant data to capture all the information about task that is executed on a given workstation.

    * Workstation: Entity describing machine/workstation that will be used to execute a given task.

    * Component: Entity describing component needed to execute a component or component consumed during execution of task.

  termsOfService: http://swagger.io/terms/
  contact:
    name: Swagger API Team
    email: foo@example.com
    url: http://madskristensen.net
  license:
    name: MIT
    url: http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT

host: developer-stg.api.autodesk.com
basePath: /factoryproduction/v1
schemes:
  - https
consumes:
  - application/vnd.api+json
produces:
  - application/vnd.api+json
securityDefinitions:
  oauth2_access_code:
    type: oauth2
    authorizationUrl: https://developer.api.autodesk.com/authentication/v1/authorize
    tokenUrl: https://developer.api.autodesk.com/authentication/v1/gettoken
    flow: accessCode
    scopes:
      'data:read':   read your data
      'data:write':  modify your data
      'data:create': create new data
    x-authentication_context: user context required
  oauth2_implicit:
    type: oauth2
    authorizationUrl: https://developer.api.autodesk.com/authentication/v1/authorize
    flow: implicit
    scopes:
      'data:read':   read your data
      'data:write':  modify your data
      'data:create': create new data
    x-authentication_context: user context required
  oauth2_application:
    type: oauth2
    tokenUrl: https://developer.api.autodesk.com/authentication/v1/gettoken
    flow: application
    scopes:
      'data:read':   read application accessible data
      'data:write': write application accessible data
      'data:create': create application accessible data
    x-authentication_context: application context required

paths:
  /components:
    x-summary: GET Components
    x-description: |
        Entity describing component needed to execute a component or component consumed during execution of task.
    get:
      tags: [ "Components" ]
      description: |
        Search for Components by specifying `searchTerm`, and/or multiple `tags`
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        
      operationId: getComponents
      parameters:
        - name: filter[components][searchTerm]
          in: query
          description: Search Query, which may include component id
          required: false
          type: string
        - name: filter[components][tags]
          in: query
          description: Tags to search against
          required: false
          type: string
        - name: sort[components][targetFieldName]
          in: query
          description: case-insensitive field to sort by, specified by ASC or DESC. Available sort fields:```id, name, email, creatorId, lastModifierId, createdDate, lastModifiedDate``` Example:ASC
          required: false
          type: string
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200': {$ref: '#/responses/components'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /components/{id}:
    x-summary: GET Component
    x-description: |
        Entity describing component needed to execute a component or component consumed during execution of task.
    get:
      tags: [ "Components" ]
      description: |
        Get a Component.
                
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----|
        |Given component doesn't exist|400 Bad Request|30064|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        
      operationId: getComponent
      parameters:
        - name: id
          in: path
          description: id of Component
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/component'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /components/{id}/documents:
    x-summary: GET Component's Documents
    x-description: |
        Get all documents for given component.
    get:
      tags: [ "Components" ]
      description: |
        Get all documents for given components.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid document type.|400 Bad Request|30020|
        
      operationId: getComponentDocuments
      parameters:
        - name: id
          in: path
          description: id of Component
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/documents'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /components/{id}/primaryImage:
    x-summary: GET Component's Image
    x-description: |
        Get image for given component.
    get:
      tags: [ "Components" ]
      description: |
        Get image for given component.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid document type.|400 Bad Request|30020|
        
      operationId: getComponentPrimaryImage
      parameters:
        - name: id
          in: path
          description: id of Component
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/primaryImage'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  '/components ':
    x-summary: POST Component
    post:
      tags: [ "Components" ]
      description: |
            Create a new Component.
                   
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Given member id does not exist|400 Bad Request|105|
            |Tenant not associated for given member.|401 Unauthorized Request|30028|
            |Missing required attribute tenantId in object|400 Bad Request|30051|
                   
      operationId: createComponent
      parameters:
        - in: body
          name: body
          description: Input Component Attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_component'
            example: {
                "data": {
                  "type": "components",
                  "attributes": {
                      "name": "Component Name",
                      "description": "Component description",
                      "tenantId": "job360-test",
                      "tags": ["metal_shop"],
                      "references": [
                        {"description": "ABC link",
                          "url": "http://abc.com"
                        },
                        {"description": "DEF link",
                          "url": "http://def.com"
                        }
                      ]
                  }
                }
              }
      responses:
        '201': {$ref: '#/responses/component'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  /batch/components:
    x-summary: POST Components batch
    post:
      tags: [ "Components" ]
      description: | 
            Create multiple Components.
                       
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Invalid input for batch components|400 Bad Request|30063|
            |Invalid name for component.|400 Bad Request|30068|
            |Invalid parameter|400 Bad Request|122|   
            
      operationId: createComponents
      parameters:
        - in: body
          name: body
          description: Input List Component Attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_batch_component'
            example:
              {
                  "data": [
                      {
                          "type": "components",
                          "attributes": {
                              "tenantId": "job360-test",
                              "name": "Test component 1",
                              "description": "Test component 1",
                              "tags": [
                                  "doors",
                                  "engine",
                                  "body"
                              ],
                              "references": [
                                  {
                                      "description": "ref1 description",
                                      "url": "http://www.ref1.com"
                                  },
                                  {
                                      "description": "ref2 description",
                                      "url": "http://www.ref2.com"
                                  }
                              ]
                          }
                      },
                      {
                          "type": "components",
                          "attributes": {
                              "tenantId": "job360-test",
                              "name": "Test component 2",
                              "description": "Test component 2",
                              "tags": [
                                  "doors",
                                  "engine",
                                  "body"
                              ],
                              "references": [
                                  {
                                      "description": "ref1 description",
                                      "url": "http://www.ref1.com"
                                  },
                                  {
                                      "description": "ref2 description",
                                      "url": "http://www.ref2.com"
                                  }
                              ]
                          }
                      }
                  ]
              }
      responses:
        '201': {$ref: '#/responses/componentsbulk'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/batchimport/components':
    x-summary: POST Components Batch Import
    post:
      tags: [ "Components" ]
      description: Create multiple components by batch import using file. Currenlty only CSV file format is supported. Here's the sample file
                   ([sample file](http://alpha-factoryproductionclient.dmg.autodesk.com/data/samples/components.csv))
      operationId: createComponents
      responses:
        '201': {$ref: '#/responses/bulkimport'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/components/{id} ':
    x-summary: PATCH Component
    patch:
      tags: [ "Components" ]
      description: |
           Updates a Component
           
           Status codes:
           |Message|HTTP Status Code|Error Code|Data
           |----|----|----|----
           |Given member id does not exist|400 Bad Request|105|
           |Tenant not associated for given member.|401 Unauthorized Request|30028|

      operationId: updateComponent
      parameters:
        - name: id
          in: path
          description: ID of Component
          required: true
          type: string
        - in: body
          name: body
          description: Input Component attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_patch_component'
            example:
              {
                  "data": {
                      "type": "components",
                      "attributes": {
                          "tenantId": "job360-test",
                          "description": "Description of this component",
                          "name": "Metal component 1",
                          "tags": [
                              "metal_shop", "test"
                          ],
                          "references": [
                              {
                                  "description": "ABC link",
                                  "url": "http://abc.com"
                              },
                              {
                                  "description": "DEF link",
                                  "url": "http://def.com"
                              }
                          ]
                      }
                  }
              }
      responses:
        '200': {$ref: '#/responses/component'}
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]

  '/components/{id}  ':
    x-summary: DELETE Component
    delete:
      tags: [ "Components" ]
      description: |
          Delete a Component.
         
          Status codes:
          |Message|HTTP Status Code|Error Code|Data
          |----|----|----|----
          |Given member id does not exist|400 Bad Request|105|
          |Tenant not associated for given member.|401 Unauthorized Request|30028|         
         
      operationId: deleteComponent
      parameters:
        - name: id
          in: path
          description: ID of Component
          required: true
          type: string
      responses:
        '204':
          description: Component deleted
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]

  /workstations:
    x-summary: GET Workstations
    x-description: |
        Entity describing machine/workstation that will be used to execute a given task.
    get:
      tags: [ "Workstations" ]
      description: |
        Search for Workstations by specifying `searchTerm`, and/or multiple `tags`.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        
      operationId: getWorkstations
      parameters:
        - name: filter[workstations][searchTerm]
          in: query
          description: Search Query, which may include workstation id
          required: false
          type: string
        - name: filter[workstations][tags]
          in: query
          description: Tags to search against
          required: false
          type: string
        - name: filter[workstations][workcell]
          in: query
          description: filter by workcell id
          required: false
          type: string  
        - name: sort[workstations][targetFieldName]
          in: query
          description: case-insensitive field to sort by, specified by ASC or DESC. Available sort fields:```id, name, email, creatorId, lastModifierId, createdDate, lastModifiedDate, status, workcell``` Example:ASC
          required: false
          type: string
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200': {$ref: '#/responses/workstations'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /workstations/{id}:
    x-summary: GET Workstation
    x-description: |
        Entity describing machine/workstation that will be used to execute a given task.
    get:
      tags: [ "Workstations" ]
      description: |
        Get a Workstation.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Given Workstation doesn't exist|400 Bad Request|30001|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        |Invalid parameter(s) |400 Bad Request|107|
        |Invalid tenant id|401 Unauthorized |30032|
        
      operationId: getWorkstation
      parameters:
        - name: id
          in: path
          description: id of Workstation
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/workstation'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /workstations/{id}/documents:
    x-summary: GET Workstation's Documents
    x-description: |
        Get all documents for given workstation.
    get:
      tags: [ "Workstations" ]
      description: |
        Get all documents for given workstation.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid document type.|400 Bad Request|30020|
        
      operationId: getWorkstationDocuments
      parameters:
        - name: id
          in: path
          description: id of Workstation
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/documents'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /workstations/{id}/primaryImage:
    x-summary: GET Workstation's Image
    x-description: |
        Get image for given workstation.
    get:
      tags: [ "Workstations" ]
      description: |
        Get image for given workstation.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given Workstation doesn't exist|400 Bad Request|30001|
        |Invalid document type.|400 Bad Request|30020|
        
      operationId: getWorkstationPrimaryImage
      parameters:
        - name: id
          in: path
          description: id of Workstation
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/primaryImage'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]


  '/workstations ':
    x-summary: POST Workstation
    post:
      description: | 
            Create a new Workstation.
            
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Given member id does not exist|400 Bad Request|105|
            |Tenant not associated for given member.|401 Unauthorized Request|30028|  
            
      operationId: createWorkstation
      parameters:
        - in: body
          name: body
          description: Input Workstation Attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_workstation'
            example:
              {
                "data": {
                  "type": "workstations",
                  "attributes": {
                    "name": "DMG DMU 160P",
                    "description": "<p><span>Practical 5-axis machining for maximal productivity in all industries and workpieces up to 4.5t</span></p>\n",
                    "tenantId": "job360-test",
                    "tags": [
                      "milling",
                      "5-axis"
                    ]
                  },
                  "relationships": {            
                    "workcell": {                
                      "data": {
                        "type": "workcells",
                        "id": "152309"
                      }
                    }
                  }
                }
              }
      responses:
        '201': {$ref: '#/responses/workstation'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/batch/workstations':
    x-summary: POST Workstations Batch
    post:
      description: | 
            Create multiple workstations.
            
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Invalid parameter|400 Bad Request|122|
            |Invalid name for workstation.|400 Bad Request|30042|
            |Invalid input for batch workstations|400 Bad Request|30061|

      operationId: createWorkstations
      parameters:
        - in: body
          name: body
          description: Input List Workstation Attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_batch_workstation'
            example:
                      {
                         "data":[
                            {
                               "type":"workstations",
                               "attributes":{
                                  "name":"DMG DMU 160PZ",
                                  "description":"<p><span>Practical 5-axis machining for maximal productivity in all industries and workpieces up to 4.5t</span></p>\n",
                                  "tenantId":"job360-test",
                                  "tags":[
                                     "milling",
                                     "5-axis"
                                  ]
                               }
                            },
                            {
                               "type":"workstations",
                               "attributes":{
                                  "name":"DMG DMU 160PZZ",
                                  "description":"<p><span>Practical 5-axis machining for maximal productivity in all industries and workpieces up to 4.5t</span></p>\n",
                                  "tenantId":"job360-test",
                                  "tags":[
                                     "milling",
                                     "5-axis"
                                  ]
                               }
                            }
                         ]
                      }
      responses:
        '201': {$ref: '#/responses/workstationbulk'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/batchimport/workstations':
    x-summary: POST Workstation Batch Import
    post:
      description: |
              Create multiple workstations by batch import using file. Currenlty only CSV file format is supported. Here's the sample file
                   ([sample file](http://alpha-factoryproductionclient.dmg.autodesk.com/data/samples/workstations.csv))
             
              Status codes:
              |Message|HTTP Status Code|Error Code|Data
              |----|----|----|----
              |Error while parsing the workstations payload/file to fetch workstations data|400 Bad Request|30038|
              |The file format is not supported.|400 Bad Request|30039|
              |Invalid name for workstation.|400 Bad Request|30042|
              |The file is empty!|400 Bad Request|30043|
                   
      operationId: createWorkstations
      responses:
        '201': {$ref: '#/responses/bulkimport'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/workstations/{id} ':
    x-summary: PATCH Workstation
    patch:
      description: |
        Updates a Workstation's attributes.

        Workstation Statuses:
        ```
        Idle
        Operating
        OfflineScheduleMaintenance
        OfflineBroken
        ```
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        |Invalid workstation status|400 Bad Request|30062|
        
      operationId: updateWorkstation
      parameters:
        - name: id
          in: path
          description: ID of Workstation
          required: true
          type: string
        - in: body
          name: body
          description: Input Workstation attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_patch_workstation'
            example:
              {
                "data": {
                  "type": "workstations",
                  "id":"2817",
                  "attributes": {
                    "name": "workstations Regression test 0002",
                    "description": "workstations Regression test 0002",
                    "status": "Idle",
                    "tags": ["test","test01","test002"],
                    "references": [{"description": "ref2 description", "url": "http://www.ref2.com"}]
                  },
                  "relationships": {            
                    "workcell": {                
                      "data": {
                        "type": "workcells",
                        "id": "152309"
                      }
                    }
                  }
                }
              }
      responses:
        '200': {$ref: '#/responses/workstation'}
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]
        
  '/workstations/{id}  ':
    x-summary: DELETE Workstation
    delete:
      description: | 
            Delete a Workstation.
            
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Given member id does not exist|400 Bad Request|105|
            |Given Workstation doesn't exist|400 Bad Request|30001|
            |Tenant not associated for given member.|401 Unauthorized Request|30028|
            |Workstation is Operating. Cannot delete|400 Bad Request|30091|
            |Workstation have pending tasks. Cannot delete|400 Bad Request|30092|

      operationId: deleteWorkstation
      parameters:
        - name: id
          in: path
          description: ID of Workstation
          required: true
          type: integer
          format: int64
      responses:
        '204':
          description: Workstation deleted
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]


  /workcells:
    x-summary: GET Workcells
    x-description: |
        Entity representing collection of workstations. Every tenant will have one default Workcell named Factory.
    get:
      tags: [ "Workcells" ]
      description: |
        Search for Workcells by specifying `searchTerm`, and/or multiple `tags`.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        
      operationId: getWorkcells
      parameters:
        - name: filter[workcells][searchTerm]
          in: query
          description: Search Query, which may include workcell id
          required: false
          type: string
        - name: filter[workcells][matchWorkstation]
          in: query
          description: search term and tags will be searched against workstations as well,values - true or false
          required: false
          type: string
        - name: filter[workcells][tags]
          in: query
          description: Tags to search against
          required: false
          type: string
        - name: sort[workcells][targetFieldName]
          in: query
          description: case-insensitive field to sort by, specified by ASC or DESC. Available sort fields:```id, name, email, creatorId, lastModifierId, createdDate, lastModifiedDate, status``` Example:ASC
          required: false
          type: string
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200': {$ref: '#/responses/workcellsList'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /workcells/{id}:
    x-summary: GET Workcell
    x-description: |
        Entity describing collection of worksations.
    get:
      tags: [ "Workcells" ]
      description: |
        Get a Workcell.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Given workcell doesn't exist|400 Bad Request|30104|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        
      operationId: getWorkcell
      parameters:
        - name: id
          in: path
          description: id of Workcell
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/workcell'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  '/workcells ':
    x-summary: POST Workcell
    post:
      description: | 
            Create a new Workcell.
            
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Given member id does not exist|400 Bad Request|105|
            |Tenant not associated for given member.|401 Unauthorized Request|30028|  
            
      operationId: createWorkcell
      parameters:
        - in: body
          name: body
          description: Input Workcell Attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_workstation'
            example:
              {
                "data": {
                  "type": "workcells",
                  "attributes": {
                    "name": "drilling workstations",
                    "description": "drillers",
                    "tenantId": "job360-test",
                    "tags": [
                      "milling",
                      "5-axis"
                    ]
                  }
                }
              }
      responses:
        '201': {$ref: '#/responses/workcell'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/workcells/{id} ':
    x-summary: PATCH Workcell
    patch:
      description: |
        Updates a Workcell's attributes.
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        |Invalid workcell status|400 Bad Request|30103|
        
      operationId: updateWorkcell
      parameters:
        - name: id
          in: path
          description: ID of Workcell
          required: true
          type: string
        - in: body
          name: body
          description: Input Workcell attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_patch_workstation'
            example:
              {
                "data": {
                  "type": "workcells",
                  "attributes": {
                    "name": "workcell test 0002",
                    "description": "workcell Regression test 0002",
                    "tags": ["test","test01","test002"],
                    "references": [{"description": "ref2 description", "url": "http://www.ref2.com"}]
                  }
                }
              }
      responses:
        '200': {$ref: '#/responses/workcell'}
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]
        
  '/workcells/{id}  ':
    x-summary: DELETE Workcell
    delete:
      description: | 
            Delete a Workcell.
            
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Given member id does not exist|400 Bad Request|105|
            |Given Workstation doesn't exist|400 Bad Request|30001|
            |Tenant not associated for given member.|401 Unauthorized Request|30028|
            |Invalid workcell status|400 Bad Request|30103|
            
      operationId: deleteWorkcell
      parameters:
        - name: id
          in: path
          description: ID of Workcell
          required: true
          type: integer
          format: int64
      responses:
        '204':
          description: Workcell deleted
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]

  '/workcells/{id}/relationships':
    x-summary: DELETE Workcell's Workstation(s)
    delete:
      description: | 
            Remove Workstation(s) from a workcell.  This will assign the workstation(s) back to the default "Factory" workcell.
            
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Given member id does not exist|400 Bad Request|105|
            |Given Workstation doesn't exist|400 Bad Request|30001|
            |Tenant not associated for given member.|401 Unauthorized Request|30028|
            |Workcell does not exist.|400 Bad Request|30104|
            |Workstation does not belong to workcell.|400 Bad Request|30110|
            
      operationId: deleteWorkcellsWorkstations
      parameters:
        - name: id
          in: path
          description: ID of Workcell
          required: true
          type: integer
          format: int64
        - in: body
          name: body
          description: Input Workstation ids
          required: true
          schema:
            $ref: '#/definitions/json_api_input_workstation_list'
            example:
              {
                "data": [
                  {
                    "type": "workstations",
                    "id": "123989"
                  },
                  {
                    "type": "workstations",
                    "id": "123423"
                  }
                ]
              }
      responses:
        '204':
          description: Workstation deleted from Workstation
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]

  /workqueues:
    x-summary: GET Work Queues
    x-description: |
        A scheduling API for supervisors to view, re-order, and move TaskExecutions for given workstations or workcells, known as a work queues.
    get:
      tags: [ "Work Queues" ]
      description: |
        Search for all Work Queues, each of which represents either a workstation or workcell and the corresponding queue of task executions.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        
      operationId: getWorkQueues
      responses:
        '200': {$ref: '#/responses/workqueueList'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  '/workqueues/ ':
    x-summary: PATCH Work Queue
    patch:
      description: |
        A supervisor updates a Work Queue's Task Executions.  Updates the order given in the request body of Task Executions for given workstations or workcells.  As well, if a Task Execution moves from a workcell or workstation task queue to another workstation or workcell, then the Task Execution is reassigned to that new workstation/workcell.
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        |Invalid workcell status|400 Bad Request|30103|
        
      operationId: updateWorkQueue
      parameters:
        - in: body
          name: body
          description: Input Work Queue attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_patch_workqueues'
            example:
              {
                  "data": [
                      {
                          "type": "workqueues",
                          "id": "553",
                          "attributes": {
                              "id": "553",
                              "name": "DELL 1513",
                              "entityType": "workstations",
                              "taskQueue": []
                          },
                          "relationships": {},
                          "links": {}
                      },
                      {
                          "type": "workqueues",
                          "id": "5",
                          "attributes": {
                              "entityType": "workstations",
                              "taskQueue": [
                                  {
                                      "id": "7917",
                                      "type": "taskexecutions"
                                  },
                                  {
                                      "id": "4125",
                                      "type": "taskexecutions"
                                  },
                                  {
                                      "id": "8136",
                                      "type": "taskexecutions"
                                  }
                              ]
                          },
                          "relationships": null,
                          "links": null
                      },
                      {
                          "type": "workqueues",
                          "id": "2817",
                          "attributes": {
                              "entityType": "workcells",
                              "taskQueue": [
                                  {
                                      "id": "5726",
                                      "type": "taskexecutions"
                                  },
                                  {
                                      "id": "4169",
                                      "type": "taskexecutions"
                                  }
                              ]
                          },
                          "relationships": null,
                          "links": null
                      }
                  ]
              }
      responses:
        '200': {$ref: '#/responses/workqueueList'}
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]
  
  /workstationsummaries:
    x-summary: GET Workstation Summaries
    x-description: |
        Endpoint describing machine/workstations summary that will be used to execute a given task.  This is a special GET-only endpoint designed to aggregate data related to workstations for reporting purposes.
        The response includes details of the workstation itself, as well as workstation total counts such as: 
        ```
        readyTaskQueue
        futureTaskQueue
        cycleTime
        utilization*
        scrap*
        work*
        
        * Note: these calculatinos include Task Executions started in the last 7 days
    get:
      tags: [ "Workstations Summary" ]
      description: |
        Get Workstation Summaries
      operationId: getWorkstationsSummary
      parameters:
        - name: version
          in: query
          description: Response version. Use `v2` for JSON API compliant response.
          required: false
          type: string
        - name: filter[workstationsummaries][searchTerm]
          in: query
          description: Search Query, which may include workstation id
          required: false
          type: string
        - name: filter[workstationsummaries][status]
          in: query
          description: Status(es) to filter by. Available statuses:Idle, Operating, OfflineScheduleMaintenance, OfflineBroken
          required: false
          type: string
        - name: filter[workstationsummaries][tags]
          in: query
          description: Tags to search against
          required: false
          type: string
        - name: sort[workstationsummaries][targetFieldName]
          in: query
          description: case-insensitive field to sort by, specified by ASC or DESC. Available sort fields:```status, cycleTime, rework, scrap, lastModifiedDate``` Example:ASC
          required: false
          type: string
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200': {$ref: '#/responses/workstationsummaries'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /workstationsummaries/{workstationId}:
    x-summary: GET Workstation Summary
    x-description: |
        Report describing machine/workstation summary that will be used to execute a given task.   This is a special GET-only endpoint designed to aggregate data related to workstations for reporting purposes. "workstationIoTData" will be returned ONLY for workstations that belong to a tenant that has fusion connect enabled. Please contact DCS team for enabling fusion connect.
        The response includes details of the workstation itself, as well as the `currentTaskExecution` and collections of task execution queues including:
        ```
        readyWorkstationTaskExecutionsQueue
        futureWorkstationTaskExecutionsQueue
        readyWorkcellTaskExecutionsQueue
        futureWorkcellTaskExecutionsQueue
    get:
      tags: [ "Workstations Summary" ]
      description: |
         Get a Workstation Summary
         
          Status codes:
          |Message|HTTP Status Code|Error Code|Data
          |----|----|----|----
          |Given Workstation doesn't exist|400 Bad Request|30001|
         
      operationId: getWorkstation
      parameters:
        - name: workstationId
          in: path
          description: id of a Workstation
          required: true
          type: string
        - name: version
          in: query
          description: Response version. Use `v2` for JSON API compliant response.
          required: false
          type: string
      responses:
        '200': {$ref: '#/responses/workstationsummarybyid'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  '/taskinstructions':
    x-summary: GET TaskInstructions
    x-description: |
        Report describing a collection of machine/workstation summaries that will be used to execute a given task. It has information such as a unique number assigned to the task, operation to be executed, components to be consumed, workstation to be used and estimated time required to complete this component.
    get:
      tags: [ "Task Instructions" ]
      description: |
        Get Task Instructions
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid parameter|400 Bad Request|122|
        
      operationId: getTaskInstruction
      parameters:
        - name: filter[taskInstructions][jobInstructionId]
          in: query
          description: id of parent job instruction
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/taskInstructions'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  '/taskinstructions/{id}':
    x-summary: GET TaskInstruction
    x-description: |
        This is a single unit of task to be executed as a component of job instruction. It has information such as a unique number assigned to the task, operation to be executed, components to be consumed, workstation to be used and estimated time required to complete this component.
    get:
      tags: [ "Task Instructions" ]
      description: |
        Get a Task Instruction
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Task Instruction not found.|400 Bad Request|30003|
        
      operationId: getTaskInstruction
      parameters:
        - name: id
          in: path
          description: ID of task instruction
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/taskInstruction'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /taskinstructions/{id}/documents:
    x-summary: GET TaskInstruction's Documents
    x-description: |
        Get all documents for given task instruction.
    get:
      tags: [ "Task Instructions" ]
      description: |
        Get all documents for given task instruction.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid document type.|400 Bad Request|30020|

      operationId: getTaskInstructionDocuments
      parameters:
        - name: id
          in: path
          description: id of Task Instruction
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/documents'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /taskinstructions/{id}/primaryImage:
    x-summary: GET TaskInstruction's Image
    x-description: |
        Get image for given task instruction.
    get:
      tags: [ "Task Instructions" ]
      description: |
        Get image for given task instruction.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid document type.|400 Bad Request|30020|

      operationId: getTaskInstructionPrimaryImage
      parameters:
        - name: id
          in: path
          description: id of Task Instruction
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/primaryImage'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]


  '/taskinstructions ':
    x-summary: POST TaskInstruction
    post:
      tags: [ "Task Instructions" ]
      description: |
        Create a Task Instruction. Either a recommendedWorkcell (of type `workcells`) or a recommendedWorkstation (of type `workstations`) may be specified under `relationships` in the request body.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Invalid parameter(s)|400 Bad Request|107|
        |Missing required relationship|400 Bad Request|30004|
        |Invalid tenant id |400 Bad Request|30016|tenantId
        |Request is not allowed for this member's role, please login using a valid role |403 Forbidden Request|123|
        |Tenant not associated for given member.|401 Unauthorized |30028|tenantId
        |Both workstation and workcell assigned.  Only one is allowed. |400 Bad Request|30109|
        |Given component doesn't exist|400 Bad Request|30064|
        
      operationId: createTaskInstruction
      parameters:
        - in: body
          name: body
          description: Input schema
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_task_instruction'
            example:
              {
                  "data": {
                      "type": "taskinstructions",
                      "attributes": {
                          "name": "Task dev test name",
                          "description": "Task dev test description",
                          "setupTimeInMins": 32,
                          "executionTimePerQuantityInMins": 12,
                          "tenantId": "job360-test",
                          "consumedComponents": [
                              {
                                  "componentId": 25,
                                  "quantity": 42
                              },
                              {
                                  "componentId": 52,
                                  "quantity": 24
                              }
                          ]
                      },
                      "relationships": {
                          "recommendedWorkstation": {
                              "data": {
                                  "type": "workstations",
                                  "id": "1"
                              }
                          },
                          "jobInstruction": {
                              "data": {
                                  "type": "jobinstructions",
                                  "id": "2555"
                              }
                          }
                      }
                  }
              }
      responses:
        '201': {$ref: '#/responses/taskInstruction'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/batch/taskinstructions':
    x-summary: POST /batch/taskinstructions
    post:
      description: | 
                Create multiple task instructions. Either a recommendedWorkcell (of type `workcells`) or a recommendedWorkstation (of type `workstations`) may be specified under `relationships` in the request body.
                
                Status codes:
                |Message|HTTP Status Code|Error Code|Data
                |----|----|----|----
                |Missing required attribute tenantId in object|400 Bad Request|30051|
                |Invalid resource type|400 Bad Request|30053|
                |Invalid input for batch Task Instructions|400 Bad Request|30056|
                |Missing required attribute in Task Instructions|400 Bad Request|30057|
                |valid recommended workstation is required to create taskInstruction|400 Bad Request|30058|
                |valid job instruction is required to create taskInstruction|400 Bad Request|30059|
                |Given component doesn't exist|400 Bad Request|30064|
                |Invalid tenant id|400 Bad Request|30016|
                
      operationId: createTaskInstruction
      parameters:
        - in: body
          name: body
          description: Input List taskinstruction Attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_batch_task'
            example:
                    {
                       "data":[
                          {
                             "type":"taskinstructions",
                             "attributes":{
                                "name":"Task dev test name",
                                "description":"Task dev test description",
                                "setupTimeInMins": 32,
                                "executionTimePerQuantityInMins": 12,
                                "tenantId":"job360-test",
                                "consumedComponents":[
                                   {
                                      "componentId":9787,
                                      "quantity":42
                                   },
                                   {
                                      "componentId":9788,
                                      "quantity":24
                                   }
                                ]
                             },
                             "relationships":{
                                "recommendedWorkstation":{
                                   "data":{
                                      "type":"workstations",
                                      "id":"9840"
                                   }
                                },
                                "jobInstruction":{
                                   "data":{
                                      "type":"jobinstructions",
                                      "id":"7564"
                                   }
                                }
                             }
                          },
                          {
                             "type":"taskinstructions",
                             "attributes":{
                                "name":"Task dev test name",
                                "description":"Task dev test description",
                                "setupTimeInMins": 32,
                                "executionTimePerQuantityInMins": 12,
                                "tenantId":"job360-test",
                                "consumedComponents":[
                                   {
                                      "componentId":9787,
                                      "quantity":42
                                   },
                                   {
                                      "componentId":9788,
                                      "quantity":24
                                   }
                                ]
                             },
                             "relationships":{
                                "recommendedWorkstation":{
                                   "data":{
                                      "type":"workstations",
                                      "id":"9841"
                                   }
                                },
                                "jobInstruction":{
                                   "data":{
                                      "type":"jobinstructions",
                                      "id":"7563"
                                   }
                                }
                             }
                          }
                       ]
                    }

      responses:
        '201': {$ref: '#/responses/taskinstructionsbulk'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/taskinstructions/{id} ':
    x-summary: PATCH TaskInstruction
    patch:
      tags: [ "Task Instructions" ]
      description: |
        Update a Task Instruction.  Either a recommendedWorkcell (of type `workcells`) or a recommendedWorkstation (of type `workstations`) may be specified under `relationships` in the request body.
        Also note, if changing from workcell to workstation, the workstation must belong to that workcell.

        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Task Instruction not found.|400 Bad Request|30003|
        |Missing required relationship|400 Bad Request|30004|
        |Given component doesn't exist|400 Bad Request|30064|
        
      operationId: udpateTaskInstruction
      parameters:
        - name: id
          in: path
          description: ID of task instruction
          required: true
          type: string
        - in: body
          name: body
          description: Input schema
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_task_instruction'
            example: 
              {
                  "data": {
                      "type": "taskInstructions",
                      "id": "137486",
                      "attributes": {
                          "description": "Task Description",
                          "setupTimeInMins": 32,
                          "executionTimePerQuantityInMins": 12
                      },
                      "relationships": {
                          "recommendedWorkstation": {
                              "data": {
                                  "type": "workstations",
                                  "id": "176533"
                              }
                          }
                      }
                  }
              }
      responses:
        '200': {$ref: '#/responses/taskInstruction'}
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]
  '/taskinstructions/{id}  ':
    x-summary: DELETE TaskInstruction
    delete:
      tags: [ "Task Instructions" ]
      description: |
              Delete a task instruction.
              
              Status codes:
              |Message|HTTP Status Code|Error Code|Data
              |----|----|----|----
              |Task Instruction not found.|400 Bad Request|30003|

      operationId: deleteTaskInstruction
      parameters:
        - name: id
          in: path
          description: ID of task instruction
          required: true
          type: integer
          format: int64
      responses:
        '204':
          description: Task Instruction deleted
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]


  /jobinstructions:
    x-summary: GET JobInstructions
    x-description: |
        This is a template for all tasks that needs to be executed for making a given component.
        
        Date range parameters:
        |Verb         | Description
        | ------      | -------------------------------------------------------------------------------------------------------
        | `lt`        |  'Less Than': Include dates less than (but not equal to) this date.
        | `lte`        |  'Less Equal': Include dates less than or equal to this date.
        | `gt`        |  'Greater Than': Include dates greater than (but not equal to) this date.
        | `gte`        |  'Greater Equal': Include dates greater than or equal to this date.

        Date Range Example:
        To view Job Instructions from 10-15-2016 to 10-26-2016, not inlcluding 10-15-16 but including 10-26-16, add the following:

        .../jobinstructions?filter[jobinstructions][lastModifiedDate][gt]=2016-10-15&filter[jobinstructions][lastModifiedDate][lte]=2016-10-26

    get:
      tags: [ "Job Instructions" ]
      description: |
        Search for Job Instructions by specifying `searchTerm`, and/or multiple `tags`.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid parameter|400 Bad Request|122|
        
      operationId: getJobInstruction
      parameters:
        - name: filter[jobinstructions][searchTerm]
          in: query
          description: Search Query, which may include jobinstruction id
          required: false
          type: string
        - name: filter[jobinstructions][tags]
          in: query
          description: Tags to search against
          required: false
          type: string
        - name: filter[jobinstructions][archived]
          in: query
          description: retrive archived job instructions
          required: false
          type: boolean
        - name: sort[jobinstructions][targetFieldName]
          in: query
          description: case-insensitive field to sort by, specified by ASC or DESC. Available sort fields:```id, name, email, creatorId, lastModifierId, createdDate, lastModifiedDate``` Example:ASC
          required: false
          type: string
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200': {$ref: '#/responses/jobInstructions'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /jobinstructions/{id}:
    x-summary: GET JobInstruction
    x-description: |
        This is a template for all tasks that needs to be executed for making a given component.
    get:
      tags: [ "Job Instructions" ]
      description: |
        Get a Job Instruction
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |JobInstruction not found.|400 Bad Request|30007|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        
      operationId: getJobInstruction
      parameters:
        - name: id
          in: path
          description: id of job instruction
          required: true
          type: string
        - name: filter[jobinstructions][version]
          in: query
          description: Entity version  Example:1.2.0
          required: false
          type: string
      responses:
        '200': {$ref: '#/responses/jobInstruction'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /jobinstructions/{id}/documents:
    x-summary: GET JobInstruction's Documents
    x-description: |
        Get all documents for given Job Instruction.
    get:
      tags: [ "Job Instructions" ]
      description: |
        Get all documents for given Job Instruction.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid document type.|400 Bad Request|30020|
        
      operationId: getJobInstructionDocuments
      parameters:
        - name: id
          in: path
          description: id of Job Instruction
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/documents'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /jobinstructions/{id}/primaryImage:
    x-summary: GET JobInstruction's Image
    x-description: |
        Get image for given Job Instruction.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid document type.|400 Bad Request|30020|

    get:
      tags: [ "Job Instructions" ]
      description: |
        Get image for given Job Instruction.
      operationId: getJobInstructionPrimaryImage
      parameters:
        - name: id
          in: path
          description: id of Job Instructions
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/primaryImage'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]


  '/jobinstructions ':
    x-summary: POST JobInstruction
    post:
      description: |
            Create a new Job Instruction
            
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |Given member id does not exist|400 Bad Request|105|
            |Tenant not associated for given member.|401 Unauthorized Request|30028|
            |Invalid parameter(s)|400 Bad Request|107|tenantId
            |Request is not allowed for this member's role, please login using a valid role |403 Forbidden Request|123|
            |Invalid tenant id|401 Unauthorized |30032|
            |Application not installed for this tenant|400 Bad Request|40003|
            |Application with given version does not exist.|400 Bad Request|30099|
            
      operationId: createJobInstruction
      parameters:
        - in: body
          name: body
          description: Input Job Instruction Attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_job_instruction'
            example:
              {
                  "data": {
                      "type": "jobinstructions",
                      "attributes": {
                          "tenantId": "job360-test",
                          "name": "tejinderJI3",
                          "description": "JOBinstruction3",
                          "endProductName": "car",
                          "defaultQuantity": 2,
                          "tags": [
                              "doors",
                              "engine",
                              "body"
                          ],
                          "references": [
                              {
                                  "description": "ref1 description",
                                  "url": "http://www.ref1.com"
                              },
                              {
                                  "description": "ref2 description",
                                  "url": "http://www.ref2.com"
                              }
                          ]
                      }
                  }
              }
      responses:
        '201': {$ref: '#/responses/jobInstruction'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  /clone/jobinstructions/{id}:
    x-summary: clone JobInstruction
    post:
      description: | 
            clone  Job Instruction and task instructions
            
            Status codes:
            |Message|HTTP Status Code|Error Code|Data
            |----|----|----|----
            |JobInstruction not found.|400 Bad Request|30007|
            |Given member id does not exist|400 Bad Request|105|
            |Tenant not associated for given member.|401 Unauthorized Request|30028|
            
      operationId: createJobInstruction
      parameters:
        - name: id
          in: path
          description: id of job instruction
          required: true
          type: string
      responses:
        '201': {$ref: '#/responses/jobInstruction'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  '/batchimport/jobinstructions':
    x-summary: POST Jobinstruction Batch Import
    post:
      description: |
              Create multiple jobinstructions by batch import using file. Currenlty only CSV file format is supported. Here's the sample file
                   ([sample file](http://alpha-factoryproductionclient.dmg.autodesk.com/data/samples/jobinstructions.csv))
              Status codes:
              |Message|HTTP Status Code|Error Code|Data
              |----|----|----|----
              |Given member id does not exist|400 Bad Request|105|
              |Tenant not associated for given member.|401 Unauthorized Request|30028|
              |The file format is not supported.|400 Bad Request|30039|
              |The file is empty!|400 Bad Request|30043|
              |Invalid name for job instruction.|400 Bad Request|30044|
              |Error while parsing the job instructions payload/file to fetch job instructions data.|400 Bad Request|30073|
                   
      operationId: createJobinstructions
      responses:
        '201': {$ref: '#/responses/bulkimport'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/jobinstructions/{id} ':
    x-summary: PATCH JobInstruction
    patch:
      description: |
              Updates a Job Instruction's attributes.  Order of tasks can also be modified by listing the taskInstruction ids in the relationships of the request JSON.  However, removing or adding tasks must be done with /taskinstructions api.
              
              when updating the "archived" flag of jobinstruction, all other data for update will be ignored
              
              Status codes:
              |Message|HTTP Status Code|Error Code|Data
              |----|----|----|----
              |Given member id does not exist|400 Bad Request|105|
              |JobInstruction not found.|400 Bad Request|30007|
              |dispatched jobsheets are pending. Cannot archive jobinstruction|400 Bad Request|30124|
              |Cannot update archived jobinstruction.|400 Bad Request|30125|

      operationId: updateJobInstruction
      parameters:
        - name: id
          in: path
          description: ID of job instruction
          required: true
          type: string
        - in: body
          name: body
          description: Input Job Instruction attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_patch_job_instruction'
            example:
              {
                  "data": {
                      "type": "jobInstructions",
                      "id": "jobId",
                      "attributes": {
                          "name": "JobName1",
                          "description": "Updated description",
                          "endProductName": "updated end product name",
                          "defaultQuantity": 2,
                          "archived": "true",
                          "status": "Blocked",
                          "tags": "custom_alloy",
                          "references": [
                              {"description": "ABC link",
                                "url": "http://abc.com"
                              },
                              {"description": "DEF link",
                                "url": "http://def.com"
                              }
                            ]
                      },
                      "relationships": {
                          "taskInstructions": {
                              "data": [
                                {
                                    "type": "taskinstructions",
                                    "id": "126013"
                                },
                                {
                                    "type": "taskinstructions",
                                    "id": "126010"
                                },
                                {
                                    "type": "taskinstructions",
                                    "id": "126012"
                                },
                                {
                                    "type": "taskinstructions",
                                    "id": "126011"
                                }
                              ]
                          }
                      }
                  }
              }
      responses:
        '200': {$ref: '#/responses/jobInstruction'}
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]

###  '/jobinstructions/{id}  ':
###    x-summary: DELETE JobInstruction
###    delete:
###      description: Delete a job instruction.  If a job sheet is using this job instruction, an error is returned.
###        Any associated Task Instructions to this Job Instruction are also removed in this call.  Components and workstations are not deleted.
###      operationId: deleteJobInstruction
###      parameters:
###        - name: id
###          in: path
###          description: ID of Job Instruction
###          required: true
###          type: integer
###          format: int64
###      responses:
###        '204':
###          description: Job Instruction deleted
###      security:
###        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]


  '/jobsheets':
    x-summary: GET JobSheets
    x-description: |
        An instance of Job Instructions template which goes on Factory floor as instructions are executed in the process of making a component. Job sheet refers to the instruction template and contains any relevant notes added during execution of instructions.

        Date range parameters:
        |Verb         | Description
        | ------      | -------------------------------------------------------------------------------------------------------
        | `lt`        |  'Less Than': Include dates less than (but not equal to) this date.
        | `lte`        |  'Less Equal': Include dates less than or equal to this date.
        | `gt`        |  'Greater Than': Include dates greater than (but not equal to) this date.
        | `gte`        |  'Greater Equal': Include dates greater than or equal to this date.

        Date Range Example:
        To view Job Sheets from 10-15-2016 to 10-26-2016, not inlcluding 10-15-16 but including 10-26-16, add the following:

        .../jobsheets?filter[jobsheets][lastModifiedDate][gt]=2016-10-15&filter[jobsheets][lastModifiedDate][lte]=2016-10-26

    get:
      tags: [ "Job Sheets" ]
      description: |
        Search for Job Sheets by specifying `searchTerm`, and/or multiple `tags`.
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid parameter|400 Bad Request|122|
        
      operationId: getJobSheet
      parameters:
        - name: filter[jobsheets][searchTerm]
          in: query
          description: Search Query, which may include jobsheet id
          required: false
          type: string
        - name: filter[jobsheets][hotJob]
          in: query
          description: Search Query, which may include true or false
          required: false
          type: boolean  
        - name: filter[jobsheets][tags]
          in: query
          description: Tags to search against
          required: false
          type: string
        - name: filter[jobsheets][status]
          in: query
          description: Status(es) to filter by. Available statuses:```Staged, InProgress, Blocked, Completed, NeedsApproval, Cancelled, Waiting```
          required: false
          type: string
        - name: sort[jobsheets][targetFieldName]
          in: query
          description: case-insensitive field to sort by, specified by ASC or DESC. Available sort fields:```id, status, name, email, creatorId, lastModifierId, createdDate, lastModifiedDate, deliveryDate, jobInstructionId``` Example:ASC
          required: false
          type: string
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200': {$ref: '#/responses/jobsheets'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  '/jobsheets/{id}':
    x-summary: GET JobSheet
    x-description: |
        An instance of Job Instructions template which goes on Factory floor as instructions are executed in the process of making a component. Job sheet refers to the instruction template and contains any relevant notes added during execution of instructions.
    get:
      tags: [ "Job Sheets" ]
      description: |
        Get a Job Sheet
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |JobSheet not found.|400 Bad Request|30008|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
                
      operationId: getJobSheet
      parameters:
        - name: id
          in: path
          description: ID of job sheet
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/jobSheet'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /jobsheets/{ids}:
    x-summary: GET Multiple JobSheets
    x-description: |
        An instance of Job Instructions template which goes on Factory floor as instructions are executed in the process of making a component. Job sheet refers to the instruction template and contains any relevant notes added during execution of instructions.
    get:
      tags: [ "Job Sheets" ]
      description: |
        Get multiple Job Sheets by ids
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Invalid parameter|400 Bad Request|122|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
                
      operationId: getMultipleJobSheets
      parameters:
        - name: ids
          in: path
          description: comma seperated IDs of job sheet
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/jobsheets'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

###  /jobsheets/{id}/documents:
###    x-summary: GET JobSheet's Documents
###    x-description: |
###        Get all documents for given Job Sheet.
###    get:
###      tags: [ "Job Sheets" ]
###      description: |
###        Get all documents for given Job Sheet.
###      operationId: getJobsheetDocuments
###      parameters:
###        - name: id
###          in: path
###          description: id of Job Sheet
###          required: true
###          type: string
###      responses:
###        '200': {$ref: '#/responses/documents'}
###      security:
###        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

###  /jobsheets/{id}/primaryImage:
###    x-summary: GET JobSheet's Image
###    x-description: |
###        Get image for given Job Sheet.
###    get:
###      tags: [ "Job Sheets" ]
###      description: |
###        Get image for given Job Sheet.
###      operationId: getJobSheetPrimaryImage
###      parameters:
###        - name: id
###          in: path
###          description: id of Jobsheet
###          required: true
###          type: string
###      responses:
###        '200': {$ref: '#/responses/primaryImage'}
###      security:
###        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]


  '/jobsheets ':
    x-summary: POST JobSheet
    post:
      tags: [ "Job Sheets" ]
      description: |
        Create a Job Sheet
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Invalid parameter|400 Bad Request|122|
        |JobInstruction not found.|400 Bad Request|30007|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        |job instruction is required to create job sheet|400 Bad Request|30054|
        |Job instruction should have at-least one task to create job sheet|400 Bad Request|30088|
        |Invalid Input Payload. Not able to deserialize|400 Bad Request|173|
        
      operationId: createJobSheet
      parameters:
        - in: body
          name: body
          description: Input schema
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_job_sheet'
            example:
              {
                  "data": {
                      "type": "jobsheets",
                      "attributes": {
                          "notes": "regression jobsheets",
                          "tenantId": "job360-test",
                          "quantity": 40,
                          "hotJob": false,
                          "deliveryDate": "2017-02-24T18:30:00Z",
                          "tags": [
                              "test",
                              "test01"
                          ],
                          "references": [
                              {
                                  "description": "ref1 description",
                                  "url": "http://www.ref1.com"
                              },
                              {
                                  "description": "ref2 description",
                                  "url": "http://www.ref2.com"
                              }
                          ]
                      },
                      "relationships": {
                          "jobInstruction": {
                              "data": {
                                  "type": "jobinstructions",
                                  "id": "4778"
                              }
                          }
                      }
                  }
              }
      responses:
        '201': {$ref: '#/responses/jobSheet'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/batch/jobsheets':
    x-summary: POST /batch/jobsheets
    post:
      description: |
          Create a multiple job sheets.
          
          Status codes:
          |Message|HTTP Status Code|Error Code|Data
          |----|----|----|----
          |JobInstruction not found.|400 Bad Request|30007|
          |Missing required attribute tenantId in object|400 Bad Request|30051|
          |Missing required attribute in Job sheet object|400 Bad Request|30052|
          |Invalid resource type|400 Bad Request|30053|
          |job instruction is required to create job sheet|400 Bad Request|30054|
          |Invalid input for batch job sheets|400 Bad Request|30055|
          |Missing required attribute to create Jobsheet/quantity should be greater than 0|400 Bad Request|30070|
          |Job instruction should have at-least one task to create job sheet|400 Bad Request|30088|
          
      operationId: createJobsheets
      parameters:
        - in: body
          name: body
          description: Input List jobsheet Attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_new_batch_job_sheet'
            example:
                       {
                          "data": [
                            {
                              "type": "jobsheets",
                              "attributes": {
                                "tenantId": "job360-test",
                                "quantity": 40,
                                "hotJob": false,
                                "tags": [
                                  "Order#0101-09302016"
                                ],
                                "deliveryDate": "2016-10-09T18:29:59Z",
                                "notes": "jobsheets",
                                "references": [
                                  {
                                    "description": "ref1 description",
                                    "url": "http://www.ref1.com"
                                  },
                                  {
                                    "description": "ref2 description",
                                    "url": "http://www.ref2.com"
                                  }
                                ]
                              },
                              "relationships": {
                              "jobInstruction": {
                                "data": {
                                  "type": "jobinstructions",
                                  "id": "9844"
                                }
                              }
                            }
                            }
                          ]
                        }
      responses:
        '201': {$ref: '#/responses/jobsheetsbulk'}
      security:
        [ { oauth2_access_code: [ 'data:create' ] }, { oauth2_implicit: [ 'data:create' ] },{ oauth2_application: [ 'data:create' ] } ]

  '/jobsheets/{id} ':
    x-summary: PATCH JobSheet
    patch:
      tags: [ "Job Sheets" ]
      description: |
        Update a Job Sheet

        Job Sheet Statuses:
        ```
        Staged
        InProgress
        Blocked
        Completed
        NeedsApproval
        Cancelled
        Waiting
        ```
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |Job sheet already in progress or completed. cannot update quantity|400 Bad Request|30071|
        |Jobsheet cannot be marked completed.|400 Bad Request|30077|
        |Invalid status update|400 Bad Request|30087|
        |Cannnot update cancelled jobsheet.|400 Bad Request|30082|
        |Cannot cancel. jobsheet in completed/needs_approval state|400 Bad Request|30083|
        
      operationId: udpateJobSheet
      parameters:
        - name: id
          in: path
          description: ID of job sheet
          required: true
          type: string
        - in: body
          name: body
          description: Input schema
          required: true
          schema:
            $ref: '#/definitions/json_api_input_patch_job_sheet'
            example:
              {
                  "data": {
                      "type": "JobSheets",
                      "attributes": {
                          "status": "Blocked",
                          "quantity": 40,
                          "hotJob": false,
                          "deliveryDate": "2016-08-04T06:01:04Z",
                          "notes": "notes about job sheet"
                      }
                  }
              }
      responses:
        '200': {$ref: '#/responses/jobSheet'}
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]

  /taskexecutions:
    x-summary: GET TaskExecutions
    x-description: |
      Contains relevant data to capture all the information about task that is executed on a given workstation.
    get:
      tags: [ "Task Executions" ]
      description: |
        Get a Task Execution
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Invalid parameter|400 Bad Request|122|

      operationId: getTaskExecution
      parameters:
        - name: filter[taskexecutions][jobSheetId]
          in: query
          description: tenant id
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/taskExecutions'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /taskexecutions/{id}:
    x-summary: GET TaskExecution
    x-description: |
      Contains relevant data to capture all the information about task that is executed on a given workstation.
    get:
      tags: [ "Task Executions" ]
      description: |
        Get a Task Execution
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |TaskExecution not found.|400 Bad Request|30009|
        |Tenant not associated for given member.|401 Unauthorized Request|30028|
        
      operationId: getTaskExecution
      parameters:
        - name: id
          in: path
          description: id of Task Execution
          required: true
          type: string
      responses:
        '200': {$ref: '#/responses/taskExecution'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

###  /taskexecutions/{id}/documents:
###    x-summary: GET TaskExecution's Documents
###    x-description: |
###        Get all documents for given task execution.
###    get:
###      tags: [ "Task Executions" ]
###      description: |
###        Get all documents for given task execution.
###      operationId: getTaskexecutionDocuments
###      parameters:
###        - name: id
###          in: path
###          description: id of TaskExecution
###          required: true
###          type: string
###      responses:
###        '200': {$ref: '#/responses/documents'}
###      security:
###        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

###  /taskexecutions/{id}/primaryImage:
###    x-summary: GET TaskExecution's Image
###    x-description: |
###        Get image for given task execution.
###    get:
###      tags: [ "Task Executions" ]
###      description: |
###        Get image for given task execution.
###      operationId: getTaskExecutionPrimaryImage
###      parameters:
###        - name: id
###          in: path
###          description: id of TaskExecution
###          required: true
###          type: string
###      responses:
###        '200': {$ref: '#/responses/primaryImage'}
###      security:
###        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]


  '/taskexecutions/{id} ':
    x-summary: PATCH TaskExecution
    patch:
      tags: [ "Task Executions" ]
      description: |
        Updates a TaskExecution. When starting a task (by changing status to `InProgress`), if the task has a workcell assigned, a workstation must be assigned at that time.
        Note, a workstation (of type `workstations`) may be specified under `relationships` in the request body.
        Also note, if changing from workcell to workstation, the workstation must belong to that workcell.
        
        Task Execution Statuses:
        ```
        Staged
        InProgress
        Blocked
        Completed
        ```
        
        Status codes:
        |Message|HTTP Status Code|Error Code|Data
        |----|----|----|----
        |Given member id does not exist|400 Bad Request|105|
        |cannot update task on cancelled Jobsheet|400 Bad Request|30084|
        |Cannot update another task's status when current task is blocked|400 Bad Request|30035|
        |task execution not started yet|400 Bad Request|30010|
        |task execution already in progress|400 Bad Request|30011|
        |Task is blocked|400 Bad Request|30085|
        |cannot reopen task|400 Bad Request|30069|
        |task execution is complete|400 Bad Request|30012|

      operationId: updateTaskExecution
      parameters:
        - name: id
          in: path
          description: ID of Task Execution
          required: true
          type: string
        - in: body
          name: body
          description: Input Task Execution attributes
          required: true
          schema:
            $ref: '#/definitions/json_api_input_patch_task_execution'
            example:
              {
                  "data": {
                      "type": "taskexecutions",
                      "attributes": {
                          "status": "InProgress",
                          "notes": "Notes about task execution",
                          "defectQuantity": 42,
                          "scrapQuantity": 12
                      },
                      "relationships": {
                          "workstation": {
                              "data": {
                                  "type": "workstations",
                                  "id": "176522"
                              }
                          }
                      }
                  }
              }
      responses:
        '200': {$ref: '#/responses/taskExecution'}
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]
  '/taskexecutions/{id}  ':
    x-summary: DELETE TaskExecution
    delete:
      description: Delete a Task Execution.
      operationId: deleteTaskExecution
      parameters:
        - name: id
          in: path
          description: ID of Task Execution
          required: true
          type: integer
          format: int64
      responses:
        '204':
          description: Task Execution deleted
      security:
        [ { oauth2_access_code: [ 'data:write' ] }, { oauth2_implicit: [ 'data:write' ] } ]

  /entities:
    x-summary: GET Entities
    x-description: |
        Search for any type of entity.  By default, wildcards are added on both sides of a `searchTerm`, allowing for matches using partial words or phrases.  Searching with `tags` do not use wildcards.
    get:
      tags: [ "Entities" ]
      description: |
        Search for any type of entity.
      operationId: getEntities
      parameters:
        - name: version
          in: query
          description: Response version. Use `v2` for JSON API compliant response.
          required: false
          type: string
        - name: filter[entities][searchTerm]
          in: query
          description: Search Query, which may include entity id
          required: false
          type: string
        - name: filter[entities][tags]
          in: query
          description: Tags to search against
          required: false
          type: string
        - name: filter[entities][type]
          in: query
          description: Entity type to search against. Example:components,jobsheets etc.
          required: false
          type: string
        - name: sort[entities][targetFieldName]
          in: query
          description: case-insensitive field to sort by, specified by ASC or DESC. Available sort fields:id,lastModifiedDate Example:ASC
          required: false
          type: string
        - $ref: '#/parameters/pageSize'
        - $ref: '#/parameters/pageNumber'
      responses:
        '200': {$ref: '#/responses/entities'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /tags:
    x-summary: GET tags
    x-description: |
        Search for Tags.
    get:
      tags: [ "Tag clouds" ]
      description: |
        Search for tags with their weight to form a tag cloud. result is sorted by weight in descending order
      operationId: getTags
      parameters:
        - name: filter[tags][searchTerm]
          in: query
          description: sub-string to filter out matching tags
          required: false
          type: string
        - name: filter[tags][entities]
          in: query
          description: list of entities to retrive tags from. example jobinstructions,components,etc
          required: false
          type: string
      responses:
        '200': {$ref: '#/responses/tagcloud'}
      security:
        [ { oauth2_access_code: [ 'data:read' ] }, { oauth2_implicit: [ 'data:read' ] },{ oauth2_application: [ 'data:read' ] } ]

  /uploadserver:
    x-summary: GET Upload Server
    x-description: Obtain Upload Server URL
    get:
      tags: [ "Files" ]
      description: |
        Use this call to obtain the upload server url for a document or image file.

        Steps to upload and attach single file to entity:
        1. Call, for example: GET /uploadserver?entityId=&fileType=SYSTEM_PRIMARY_IMAGE&fileName=<this is just name of the file including extension, NOT the path to file on ur local drive>
        2. Above call will return you a URL found in `uploadUrl` of respd onse.
        3. You then use uploadUrl value and make a PUT call and send the actual bytes of the file (NOT the file path).
        4. At the end of this call your entity will have file associated with it.
        
        Steps to upload and attach multiple files to entity:
        1. Call, for example: GET /uploadserver
        2. Above call will return you a URL found in `uploadUrl` of resonse.
[...]
